@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1B1919];
}
h1 {
  color: #a4b3c9;
  font-family: "New Amsterdam", sans-serif;
}
Link {
  @apply text-[#576B87];
}

p {
  @apply text-[#4C5E77] font-mono;
}
.shimmer {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(
    to right,
    #1b1919 4%,
    rgb(17, 16, 16) 18%,
    #1b1919 50%
  );
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 100%;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slideInRight {
  animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInLeftFast {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slideInLeftFast {
  animation: slideInLeftFast 0.35s ease-out forwards;
}
